
 header {
  margin: 0;
  padding: 0;
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
}


  .headerimg {
    width: 90%;
  }
@media screen and (min-width: 600px) {
	.headerimg {
    width: 70%;
  }
  .header {
    height: auto;
  }
}
@media screen and (min-width: 834px) {
	.headerimg {
    height: 70pt;
    width: auto;
  }
}
