

.text {
  padding: 2% 5% ;
  font-size: 3vw;
}
 
 
header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
}


  .headerimg {
    width: 90%;
  }
@media screen and (min-width: 600px) {
	.headerimg {
    width: 70%;
  }
  .header {
    height: auto;
  }
}
@media screen and (min-width: 834px) {
	.headerimg {
    height: 70pt;
    width: auto;
  }
}

footer {
  background-color: #4f4f4f;
  text-align: center;
}
footer ul{
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  margin: auto;
}

footer p {
  font-size: 2.5vw;
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2vw;
}