header {
  margin: 0;
  padding: 0;
  background-color: #4f4f4f;
  color: #fff;
  align-items: center;
  text-align: center;
  height: auto;
}

.header1 {
  display: none;
  height: 62pt;
 }
.headerimg1{
  height: 100%;
}
 
 /* 画面がスマホサイズの時、スマホ版ヘッダーを表示 */
 .header2 {
  display: block;
  width: 100%;
 }
 .headerimg2{
  width: 90%;
 }

 @media screen and (min-width: 880px) {

  /* 画面がPCサイズの時、PC版ヘッダーを表示 */
  .header1 {
   display: block;
  }
 
  /* 画面がPCサイズの時、スマホ版ヘッダーを消す */
  .header2 {
   display: none;
  }
 }
